# Copy this file to .env and fill in your values

# Cloud Anthropic
ANTHROPIC_API_KEY=your_anthropic_api_key_here

# Local Ollama
# LLM_BACKEND=ollama-local # for local ollama on host
# LLM_BACKEND=ollama       # for remote ollama (already the case if ollama runs in a VM on the host)
# OLLAMA_BASE_URL=http://localhost:11434
# OLLAMA_API_KEY=ollama
# LLM_MODEL=qwen3-coder
# NO_THINK=1
# or
# LLM_MODEL=qwen3:4b
# NO_THINK=1
# or super small for dev and test:
# LLM_MODEL=smollm:135m
# MAX_TOKENS=512

# Mission Pipeline
MISSION_NAME=MY-SAT-1
BUSINESS_OBJECTIVE=Describe your mission business objective here

# R&D Pipeline
RND_PROJECT_NAME=MY-RND-001
RND_IDEA=Describe the technology you want to develop here

# Proposal Pipeline
PROPOSAL_NAME=MY-PROPOSAL-001
OPPORTUNITY=Describe the RFP or opportunity here

# AGENTS_FILE=agents-small.json
# DEPENDENCY_GRAPH_FILE=dependency_graph-small.json